<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="danielfears.pokedex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KantoActivity"
            android:label="@string/title_activity_kanto" >
        </activity>
        <activity
            android:name=".JohtoActivity"
            android:label="@string/title_activity_johto" >
        </activity>
        <activity
            android:name=".HoennActivity"
            android:label="@string/title_activity_hoenn" >
        </activity>
        <activity
            android:name=".SinnohActivity"
            android:label="@string/title_activity_sinnoh" >
        </activity>
        <activity
            android:name=".UnovaActivity"
            android:label="@string/title_activity_unova" >
        </activity>
        <activity
            android:name=".KalosActivity"
            android:label="@string/title_activity_kalos" >
        </activity>
        <activity
            android:name=".CharmanderActivity"
            android:label="@string/title_activity_charmander" >
        </activity>
        <activity
            android:name=".BulbasaurActivity"
            android:label="@string/title_activity_bulbasaur" >
        </activity>
        <activity
            android:name=".SquirtleActivity"
            android:label="@string/title_activity_squirtle" >
        </activity>
        <activity
            android:name=".ChikoritaActivity"
            android:label="@string/title_activity_chikorita" >
        </activity>
        <activity
            android:name=".CyndaquilActivity"
            android:label="@string/title_activity_cyndaquil" >
        </activity>
        <activity
            android:name=".TotodileActivity"
            android:label="@string/title_activity_totodile" >
        </activity>
        <activity
            android:name=".TreeckoActivity"
            android:label="@string/title_activity_treecko" >
        </activity>
        <activity
            android:name=".TorchicActivity"
            android:label="@string/title_activity_torchic" >
        </activity>
        <activity
            android:name=".MudkipActivity"
            android:label="@string/title_activity_mudkip" >
        </activity>
        <activity
            android:name=".TurtwigActivity"
            android:label="@string/title_activity_turtwig" >
        </activity>
        <activity
            android:name=".ChimcharActivity"
            android:label="@string/title_activity_chimchar" >
        </activity>
        <activity
            android:name=".PiplupActivity"
            android:label="@string/title_activity_piplup" >
        </activity>
        <activity
            android:name=".SnivyActivity"
            android:label="@string/title_activity_snivy" >
        </activity>
        <activity
            android:name=".TepigActivity"
            android:label="@string/title_activity_tepig" >
        </activity>
        <activity
            android:name=".OshawottActivity"
            android:label="@string/title_activity_oshawott" >
        </activity>
    </application>

</manifest>
