<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="danielfears.pokedex" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".KantoActivity"
            android:label="@string/title_activity_kanto" >
        </activity>
        <activity
            android:name=".JohtoActivity"
            android:label="@string/title_activity_johto" >
        </activity>
        <activity
            android:name=".HoennActivity"
            android:label="@string/title_activity_hoenn" >
        </activity>
        <activity
            android:name=".SinnohActivity"
            android:label="@string/title_activity_sinnoh" >
        </activity>
        <activity
            android:name=".UnovaActivity"
            android:label="@string/title_activity_unova" >
        </activity>
        <activity
            android:name=".KalosActivity"
            android:label="@string/title_activity_kalos" >
        </activity>
    </application>

</manifest>
